---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=8fe63c807f5a5c8cce5e070949033a96&lat=2.33&lon=48.87
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":48.87,"lat":2.33},"list":[{"main":{"aqi":1},"components":{"co":307.08,"no":0,"no2":0.07,"o3":21.64,"so2":0.01,"pm2_5":0.5,"pm10":0.59,"nh3":0},"dt":1699983627}]}'
  recorded_at: Tue, 14 Nov 2023 17:47:49 GMT
recorded_with: VCR 6.2.0
