---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/random_choice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Mon, 13 Nov 2023 18:50:01 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=1313ca6e&app_key=a1cc17aec008bc238458547edd4b461f&q=&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Mon, 13 Nov 2023 18:50:01 GMT
recorded_with: VCR 6.2.0
